# OS - macOS
.DS_Store

# OS - Windows
Thumbs.db

# IDE - Visual Studio Code
.vscode/
*.code-workspace

# IDE - JetBrains
.idea/

# IDE - other
*.swp
*.swo
*~

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Temporary files
*.tmp
*.log

# Test files
test.html
